.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 261px);
  width: 100%;
}

.leftContactSide {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.leftContactSide h1 {
  font-size: 80px;
  color: #212529dc;
}

.rightContactSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;
}

form input:focus,
textarea:focus {
  outline: none;
}

form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 20px;
}

form input {
  height: 40px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto";
}

form textarea {
  border: none;
  border-radius: 5px;
  height: 70px;
  font-family: "Roboto";
}

form button {
  margin-top: 40px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #f10026;
  color: white;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  transition-duration: 0.4s;
}

h3 {
  padding-top: 10px;
}

form button:hover {
  background-color: white; /* Green */
  color: black;
}

@media screen and (max-width: 1023px) {
  .contact {
    flex-direction: column;
    justify-content: center;
    height: fit-content;
  }

  .leftContactSide {
    justify-content: center;
    align-items: center;
    padding-left: 22%;
  }

  .rightContactSide {
    display: flex;
    justify-content: center;
    padding: 5%;
  }

  form {
    width: 290px;
  }

  .leftContactSide h1 {
    font-size: 60px;
  }
}
